<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagination>
            <configuration>
                <action_paths>
                    <item1>
                        <path>catalog_category_view</path>
                    </item1>
                    <item2>
                        <path>catalogsearch_advanced_result</path>
                    </item2>
                    <item3>
                        <path>catalogsearch_result_index</path>
                    </item3>
                    <item4>
                        <path>frontend_cache_warmup</path>
                    </item4>
                    <item5>
                        <path>brands_index_index</path>
                    </item5>
                </action_paths>
            </configuration>
        </pagination>
    </default>
</config>
