<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagination>
            <configuration>
                <action_paths>{"_1633497114605_605":{"path":"catalog_category_view"},"_1633497116213_213":{"path":"catalogsearch_advanced_result"},"_1633497117041_41":{"path":"catalogsearch_result_index"},"_1633497117552_552":{"path":"frontend_cache_warmup"},"_1633497127117_117":{"path":"brands_index_index"}}</action_paths>
            </configuration>
        </pagination>
    </default>
</config>
